.footer {
    display: flex;
    flex: 1;
    padding: 0.5rem 0;
    border-top: 1px solid null;
    justify-content: center;
    align-items: center;
    background-color: #990000;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }